@import 'tailwindcss';
@plugin "daisyui" {
  themes: dark --default;
}

:root {
  --retro0: #001219;
  --retro1: #005f73;
  --retro2: #0a9396;
  --retro3: #94d2bd;
  --retro4: #e9d8a6;
  --retro5: #ee9b00;
  --retro6: #ca6702;
  --retro7: #bb3e03;
  --retro8: #ae2012;
  --retro9: #9b2226;

  background: black;
  font-family: 'Chintzy CPU (BRK)', sans-serif;
  letter-spacing: 0.1em;
}

body {
  overflow: hidden;
}

input {
  background-color: var(--retro0);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
